/* - General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #333; 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

/* General - */

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: #333;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 25px;
    width:300px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #333;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #333;
    font-size: 26px;
    font-family: 'Arial', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

