/* - General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #333; 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

/* General - */

input,
button {
    all: unset
}

#app {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input,
button,
.UIdata {
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid #02b3e4;
    margin: 20px 0 20px 0;
}

button,
.UIdata {
    background: #02b3e4;
    color: #fff;
}

input,
button {
    height: 50px;
    font-size: 1.7em;
}

input {
    background: #fff;
    color: #333;

}

button {
    cursor: pointer;
}

.UIdata * {
    margin-bottom: 20px;
}

.UIdata div{
    font-size: 1.5em;
}

.UIdata {
    width: 416px;
    /* otherwise it's 400px */
}

@media only screen and (max-width: 768px){

    h3 {
        display: none;
    }

    input,
    button,
    .UIdata {
        width: 60vw;
        margin: 15px 0 15px 0;
        padding: 0;
    }

    input,
    button,
    .UIdata div {
        height: 30px;
        font-size: 1.3em;
    }

    .UIdata * {
        margin: 7px 0 7px 0;
    }

    ::placeholder { /* Firefox, Chrome, Opera */ 
        font-size: .8em;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: .8em;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: .8em;
    }

}